.welcome {
    background: #272727 url('/images/homepage-bg.jpg') top center no-repeat;
    background-size: cover;
    #search {
        z-index: 1;
        position: relative;
        .search-box {
            position: relative;
        }
        #search-results {
            position: absolute;
            top: 80px;
            margin: 0 auto;
            width: 100%;
            background: white;
            border-radius: 3px;
            color: #333;
            .loading {
                display: none;
            }
            ul {
                h3 {
                    color: #333;
                }
                a {
                    color: #333;
                    display: block;
                    &:hover {
                        color: #333;
                    }
                }
                li {
                    clear: both;
                    display: inline-block;
                    width: 100%;
                    padding: 30px;
                    @include transition(0.1s);
                    box-sizing: border-box;
                    font-weight: 400;
                    border-top: 1px solid #3a3a3a;
                    text-align: left;
                    color: #333;
                    p {
                      color: #6d6d6d;
                    }
                    .thumbnail {
                        float: left;
                        margin-right: 30px;
                        box-shadow: 2px 2px 5px #222222;
                    }
                    .tag {
                        margin-top: 15px;
                        margin-right: 5px;
                        &:hover {
                            border-color: #646464;
                            color: #646464;
                        }
                    }
                    &:hover {
                        background: #f0f0f0;
                        padding-left: 20px;
                        @include transition(0.1s);
                    }
                }
                .create-it {
                    padding: 30px 0;
                    border-top: 1px solid #3a3a3a;
                    a {
                        color: $blue;
                        display: inline;
                        transition: none;
                        &:hover {
                            border-bottom: 1px solid $blue;
                        }
                    }
                }
            }
        }
        .main-search {
            margin: 0 auto;
            width: 640px;
            text-align: center;
            padding: 80px 0 0;
            h1 {
                font-size: 45px;
                margin: 0;
            }
            .search-box {
                border-radius: 3px;
                border: 1px solid #5c5d5d;
                background-size: 18px 18px;
                background: url('/images/search@2x.png') no-repeat 95% center;
                margin: 50px 0 60px;
                .selector {
                    background: #2b2b2a;
                    float: left;
                    width: 100px;
                    padding: 25px 0;
                    color: white;
                    font-size: 15px;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: center;
                    border-right: 1px solid #484847;
                    .fa {
                        color: #bababa;
                    }
                }
                input[type="text"] {
                    width: 100%;
                    display: block;
                    background: none;
                    border-radius: 3px;
                    border: none;
                    box-sizing: border-box;
                    color: white;
                    font-family: "Merriweather", serif;
                    font-size: 20px;
                    padding: 20px 30px;
                    font-weight: 300;
                    //search@2x.png

                    &::placeholder {
                        color: #464646;
                    }
                }

            }
        }
    }
    .instruction {
        display: block;
        padding-bottom: 380px;
        text-align: center;
        font-weight: 16px;
        font-weight: 300;
        font-style: italic;
        color: #4d4c4c;
        font-family: "Merriweather", serif;
        a {
            font-weight: 300;
        }
    }
}

.previews {
    margin-top: -300px;
    margin-bottom: 110px;
    width: 100%;
    text-align: center;
    .preview {
        text-align: left;
        display: inline-block;
        max-width: 350px;
        margin: 0 15px;
        .category {
            font-size: 15px;
            font-weight: 700;
            color: white;
            text-transform: uppercase;
        }
        img {
            display: block;
            margin-top: 12px;
            width: 100%;
        }
        .content {
            background: #ffffff;
            padding: 20px 20px 40px 20px;
            color: #6d6d6d;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
            h3 {
                color: #232323;
                margin-bottom: 5px;
            }
            .reaction-bar {
                box-sizing: border-box;
                margin-bottom: 30px;
                .part {
                    height: 4px;
                    display: inline-block;
                    float: left;
                }
                .negative {
                    background: #f5655d;
                    width: 30%;
                }
                .mixed {
                    background: #fdc916;
                    width: 30%;
                }
                .positive {
                    background: #7fd242;
                    width: 40%;
                }
            }
        }
    }
}
.feature {
    max-width: 1110px;
    margin: 0 auto;
    padding-bottom: 100px;
    text-align: center;
    h2 {
        font-size: 45px;
        color: #2c2c2c;
        margin-bottom: 15px;
    }
    .example {
        margin-top: 65px;
    }
}
