.welcome {
    background: #272727 url('/images/homepage-bg.jpg') top center no-repeat;
    background-size: cover;
}
.main-search {
    margin: 0 auto;
    width: 640px;
    text-align: center;
    padding: 80px 0 380px;
    h1 {
        font-size: 45px;
        margin: 0;
    }
    .search-box {
        border-radius: 3px;
        border: 1px solid #5c5d5d;
        background: url('/images/search@2x.png') 95% center;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        margin: 50px 0 60px;
        .selector {
            background: #2b2b2a;
            float: left;
            width: 100px;
            padding: 25px 0;
            color: white;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            border-right: 1px solid #484847;
            .fa {
                color: #bababa;
            }
        }
        input[type="text"] {
            width: auto;
            display: block;
            background: none;
            border-radius: 3px;
            border: none;
            box-sizing: border-box;
            color: white;
            font-family: "Merriweather", serif;
            font-size: 20px;
            padding: 20px 30px;
            font-weight: 300;
            //search@2x.png

            &::placeholder {
                color: #464646;
            }
        }

    }
    span {
        font-weight: 16px;
        font-weight: 300;
        font-style: italic;
        color: #4d4c4c;
        font-family: "Merriweather", serif;
        a {
            font-weight: 300;
        }
    }
}
.previews {
    margin-top: -300px;
    margin-bottom: 110px;
    width: 100%;
    text-align: center;
    .preview {
        text-align: left;
        display: inline-block;
        max-width: 350px;
        margin: 0 15px;
        .category {
            font-size: 15px;
            font-weight: 700;
            color: white;
            text-transform: uppercase;
        }
        img {
            display: block;
            margin-top: 12px;
            width: 100%;
        }
        .content {
            background: #ffffff;
            padding: 20px 20px 40px 20px;
            color: #6d6d6d;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
            h3 {
                color: #232323;
                margin-bottom: 5px;
            }
            .reaction-bar {
                box-sizing: border-box;
                margin-bottom: 30px;
                .part {
                    height: 4px;
                    display: inline-block;
                    float: left;
                }
                .negative {
                    background: #f5655d;
                    width: 30%;
                }
                .mixed {
                    background: #fdc916;
                    width: 30%;
                }
                .positive {
                    background: #7fd242;
                    width: 40%;
                }
            }
        }
    }
}
.feature {
    max-width: 1110px;
    margin: 0 auto;
    padding-bottom: 100px;
    text-align: center;
    h2 {
        font-size: 45px;
        color: #2c2c2c;
        margin-bottom: 15px;
    }
    .example {
        margin-top: 65px;
    }
}
