// Review page

section {
    &.cover, &.information {
        width: 50%;
        height: 100%;
    }
    &.cover {
        float: left;
        background: #000000 url("/images/cover-bg.jpg") center -150px no-repeat;
        background-size: cover;
        color: #ffffff;
        .gradient {
            height: 100%;
            background: url("/images/cover-gradient.png") bottom repeat-x;
        }
        .details {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            overflow: hidden;
            box-sizing: border-box;
            padding: 0 80px 80px 80px;
            color: #d2d2d2;
            .score {
                float: right;
                font-weight: 300;
                font-size: 32px;

                border-radius: 50%;

                width: 50px;
                height: 50px;
                padding: 8px;
                line-height: 50px;

                margin-top: 10px;

                border: 2px solid $green;
                color: white;
                text-align: center;

            }
            span {
                margin-right: 10px;
            }
            .tag {
                font-size: 16px;
                border: 1px solid #ffffff;
                color: #ffffff;
                border-radius: 5px;
                padding: 5px 8px;
                text-transform: uppercase;
                display: inline-block;
            }
            .stats {
                border-top: #333 1px solid;
                margin-top: 30px;
                padding-top: 30px;
                .tag {
                    color: #d2d2d2;
                    border-color: #d2d2d2;
                }
            }
            .tempgraph {
                vertical-align: bottom;
                padding-bottom: 2px;
            }
        }
    }
    &.information {
        float: right;
        .content {
            overflow: scroll;
        }

        .user-review {
            padding: 40px 80px 20px 80px;
            border-bottom: 1px solid #f0f0f0;
            .sort {
                margin-top: 30px;
                text-transform: uppercase;
                li {
                    display: inline-block;
                    margin-right: 20px;
                    font-weight: 600;
                    a {
                        color: #8a8a8a;
                        &.current {
                            color: $blue;
                        }
                    }
                }
            }
            input[type="text"] {
                font-family: "Merriweather", serif;
                font-size: 18px;
                padding: 15px;
                width: 100%;
                box-sizing: border-box;
                border: 3px solid #f6f6f6;
                border-radius: 5px;
                &:focus {
                    outline: none;
                }
            }
            textarea {
                font-family: "Merriweather", serif;
                font-size: 18px;
                line-height: 28px;
                padding: 15px;
                width: 100%;
                box-sizing: border-box;
                border: 3px solid #f6f6f6;
                border-radius: 5px;
                resize: vertical;
                transition: $transition;
                &:focus {
                    outline: none;
                    min-height: 150px;
                }
            }
            .character-count {
                opacity: 0;
                margin: 20px 0;
                font-size: 14px;
                font-weight: 600;
                color: $green;
                display: block;
                text-align: right;
                transition: $transition;
            }
        }
        .feed {
            background: #f7f7f7;
            padding: 10px;
            .review {
                background: #ffffff;
                color: #2b2b2b;
                font-family: "Merriweather", serif;
                font-size: 16px;
                line-height: 24px;
                padding: 35px 35px 25px 35px;
                margin-bottom: 15px;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
                .details {
                    color: #999;
                    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
                    font-size: 13px;
                    margin-top: 10px;
                    width: 100%;
                    text-align: right;
                    .fa {
                        margin: 0 3px 0 10px;
                    }
                }
            }
        }
    }
}
