// Review page
section {
    &.cover, &.information {
        width: 50%;
        height: 100%;
    }
    &.cover {
        float: left;
        background: #000000;
        background-position: center top;
        background-size: cover;
        color: #ffffff;

        position: fixed;
        left: 0;
        top: 0;

        .gradient {
            height: 100%;
            background: url("/images/cover-gradient.png") bottom repeat-x;
        }
        .details {
            position: absolute;
            bottom: 0;
            left: 0;
            overflow: hidden;
            box-sizing: border-box;
            padding: 0 80px 80px 80px;
            color: #d2d2d2;
            width: 100%;
            .score {
                float: right;
                font-weight: 100;
                font-size: 32px;

                border-radius: 50%;

                width: 50px;
                height: 50px;
                padding: 8px;
                line-height: 50px;

                margin-top: 10px;

                border: 2px solid $green;
                color: white;
                text-align: center;

            }
            .graph {
                margin-right: 5px;
                vertical-align: bottom;
                padding-bottom: 2px;
            }
            span {
                margin-right: 10px;
            }
            .stats {
                border-top: #333 1px solid;
                margin-top: 30px;
                padding-top: 30px;
            }
        }
    }
    #review-content {
        position: absolute;
        top: 80px;
        bottom: 0;
        right: 0;
        width: 50%;
        overflow-y: scroll;
        background: #f7f7f7;
        .noReviews {
            display: block;
            color: #ccc;
            padding: 40px 80px;
        }
    }
    .user-review {
        background: white;
        padding: 40px 80px 20px 80px;
        border-bottom: 1px solid #f0f0f0;
        .sort {
            //border-top: 1px solid #f0f0f0;
            margin-top: 10px;
            text-transform: uppercase;
            li {
                display: inline-block;

                margin-right: 25px;
                font-weight: 600;
                &:before {
                    color: #e7e7e7;
                    margin-right: 25px;
                    content: '\2022';
                }
                &:first-of-type {
                    &:before {
                        content: '';
                        margin: 0;
                    }
                }
                a {
                    color: #bab8b8;
                    &.current {
                        color: $blue;
                        border-bottom: 1px solid $blue;
                    }
                    &:hover {
                        border-bottom: 1px solid $blue;
                    }
                }
            }
        }
        input[type="text"] {
            font-family: "Merriweather", serif;
            font-size: 18px;
            padding: 15px;
            width: 100%;
            box-sizing: border-box;
            border: 3px solid #f6f6f6;
            border-radius: 5px;
            &:focus {
                outline: none;
            }
        }
        .user-review-content {
            font-family: "Merriweather", serif;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 20px;
            display: inline-block;
            blockquote {
                .quote {
                    color: #ccc;
                }
            }
        }
        textarea {
            font-family: "Merriweather", serif;
            font-size: 18px;
            line-height: 28px;
            padding: 25px 25px 40px 25px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #ebeaea;
            border-radius: 5px;
            resize: vertical;
            outline: none;
            &:after {
                font-family: "FontAwesome";
                content: "\f040";
            }
        }
        input[type="range"] {
            width: 100%;
        }
        .user-review-actions {
            display: none;
            margin: 0px 0 40px;
            @include transition(0.1s);
            width: 100%;
            overflow: hidden;
            .user-review-actions-left {
                display: inline-block;
                width: 60%;
                float: left;
                .rangeCount {
                    display: inline-block;
                }
            }
            .user-review-actions-right {
                display: inline-block;
                width: 40%;
                float: right;
                text-align: right;
            }
        }
        .character-count {
            opacity: 0;
            @include transition(0.1s);
            position: relative;
            display: block;
            font-size: 14px;
            font-weight: 600;
            color: #ddd;
            top: -35px;
            left: 25px;
        }
    }
    #review-feed {
        padding: 8px;
        .more-reviews {
            background: #fff;
            padding: 15px;
            display: block;
            text-align: center;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
            border: 1px solid #eee;
            color: #bbb;
            font-weight: 400;
            &:hover {
                color: #999;
                box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
            }
        }
        .review {
            background: #ffffff;
            color: #2b2b2b;
            font-size: 15px;
            line-height: 24px;
            padding: 45px 70px 45px 70px;
            margin-bottom: 8px;
            min-height: 100px;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
            @include transition(0.1s);
            cursor: pointer;
            &:hover {
                //padding: 55px 70px 25px 70px;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
                background: #f5f8fa;
            }
            .avatar {
                float: left;
                display: inline-block;
                img {
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                }
                span {
                    margin-top: 5px;
                    display: block;
                    max-width: 75px;
                    text-align: center;
                    line-height: 16px;
                    font-size: 14px;
                }
            }
            .review-content {
                font-family: "Merriweather", serif;
                display: block;
                //border-left: 1px solid #e7e7e7;
                margin-left: 100px;
            }
            .details {
                color: #dedddd;
                font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
                font-size: 13px;
                margin-left: 100px;
                margin-top: 30px;
                width: 100%;
                text-align: left;
                .fa {
                    padding-left: 1px;
                }
                span {
                    margin-right: 25px;
                    font-size: 16px;
                    font-weight: 600;
                    &.score {
                        background: #60c813;
                        padding: 4px 8px;
                        color: white;
                        font-family: "Merriweather", serif;
                        font-size: 13px;
                        font-weight: 300;
                        &.positive {
                            background: #60c813;
                        }
                        &.mixed {
                            background: #f5ac5d;
                        }
                        &.negative {
                            background: #f5655d;
                        }
                    }
                    &.hearts {
                        &:hover {
                            color: #f5655d;
                        }
                    }
                    &.comments, &.more {
                        &:hover {
                            color: #2b2b2b;
                        }
                    }
                    &.date {
                        text-transform: uppercase;
                    }
                    &.more {
                        //font-size: 22px;
                    }
                }
                .thumbs {
                    cursor: pointer;
                    color: #ddd;
                    &:hover {
                        color: #999;
                    }
                }
            }
        }
    }

}
