@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900italic,900,700italic,700,400italic,300italic,300);

body, input, textarea, button {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: #2b2b2b;
}
h1 {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    font-size: 50px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 30px;
}
h6 {
    color: #d2d2d2;
    font-size: 16px;
    margin-bottom: 30px;
}
p {
    font-size: 16px;
    line-height: 24px;
}
strong {
    font-weight: 600;
    color: white;
}
a, a:link, a:visited {
    color: $blue;
    font-weight: 600;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
