footer {
    background: #272727;
    color: white;
    padding: 50px 0;
    ul {
        text-align: center;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a, a:link, a:visited {
      font-weight: normal;
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
}
