header {
  background: #272727 url('/images/homepage-bg.jpg') top center no-repeat;
  h1,h3,h4,h5,p,em {
    margin-bottom: 0;
    color: white;
  }
  h2 {
    margin-bottom: 20px;
    color: white;
  }
  em {
    font-weight: 300;
  }
  .title {
    padding: 75px 0 95px;
    text-align: center;
  }
}
