html, body {
    height: 100%;
}
#page {
    background: #f4f4f4;
}

// Light and dark headers
header {
    &.dark nav {
        .logo { background-image: url("/images/logo.svg"); }
        .user-info { color: white; }
        a.btn.outlined {
            border-color: white; color: white;
            &:hover {
                background: white;
                color: #333;
            }
        }
    }
}
