nav {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    width: 100%;
    .logo {
        margin: 30px 0 25px 80px;
        width: 122px;
        height: 23px;
        display: inline-block;
        transition: none;

        background-image: url("/images/logo.svg");
        background-size: 122px 23px;
        background-position: 0 center;
        background-repeat: no-repeat;
        &:hover {
            border: none;
        }
        &.background--light {
            background-image: url("/images/logo-dark.svg");
            background-size: 122px 23px;
            background-position: 0 center;
            background-repeat: no-repeat;
        }
    }
}
nav.small {

}

.mini-nav {
    z-index: 3;
    width: 50%;
    height: 80px;
    color: #ffffff;
    background: #2d2c2c;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: 600;

    display: table-row;

    .btn {
        display: inline;
    }

    @include user-select();
    a, a:link, a:visited {
        color: white;
    }
    .user-info {
        display: inline-block;
        float: left;
        padding: 32px 0 32px 80px;
        .btn {
            margin-right: 10px;
        }
        .avatar {
            vertical-align: middle;
            display: inline-block;
            margin-right: 10px;
            img {
                border-radius: 50%;
                width: 22px;
                height: 22px;
            }
        }
        .level {
            color: $blue;
            margin-left: 15px;
            /* CIRCLE
            padding: 3px 9px;
            text-align: center;
            color: white;
            border-radius: 50%;
            behavior: url(PIE.htc); /* remove if you don't care about IE8 */
        }
        .points {
            margin-left: 15px;
            color: $green;
        }
    }
    .search-button {
        background: #222222;
        float: right;
        padding: 0 80px;
        cursor: pointer;
        z-index: 3;
        position: relative;
        height: 80px;
        text-transform: uppercase;
        span {
            text-transform: uppercase;
            margin: auto;
            position: absolute;
            padding: 32px 0;
        }
        &:hover {
            background: #262626;
        }
        &:after {
            display: inline-block;
            margin-top: 32px;
            font-family: "FontAwesome";
            content: "\f002";
            margin-left: 60px;
        }
    }
    .user-name {
        cursor: pointer;
        text-transform: uppercase;
        .fa {
            padding-left: 3px;
            color: #999;
        }
    }
    .account-menu {
        position: absolute;
        background: #ffffff;
        width: 290px;
        top: 70px;
        left: 80px;
        clear: both;
        z-index: 3;
        display: none;
        color: #2b2b2b;
        font-weight: 400;
        box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.22);
        .padding {
            padding: 30px;
        }
        .account-details {
            text-align: center;
            .avatar {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                margin-bottom: 20px;
                box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
            }
        }
        .account-menu-name {
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 5px;
            display: block;
        }
        .account-menu-email {
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 15px;
            color: #aaa9a9;
            display: block;
        }
        .progress-outer {
            background: #92e1d6;
            height: 25px;
            width: 100%;
            margin: 20px 0;
            position: relative;
            .progress-inner {
                background: #54d0bf;
                height: 100%;
                width: 75%;
            }
            .progress-text {
                position: absolute;
                left: 5px;
                top: 5px;
                color: white;
                z-index:5;
            }
        }
        li {
            font-size: 16px;
            margin-top: 10px;
            a {
                color: #2b2b2b;
                font-weight: 400;
            }
        }
        .sign-out {
            display: block;
            width: 100%;
            text-align: center;
            border-top: 1px solid #e6e6e6;
            color: #2b2b2b;
            padding: 20px 0;
            font-size: 16px;
            font-weight: 400;
            @include transition(0.1s);
            &:hover {
                border-top: 1px solid #f62459;
                text-decoration: none;
                background: #f62459;
                color: white;
            }
        }
        &:before {
            content:'';
            position: absolute;
            top: -5px;
            left: 50%;
            margin-left: -5px;
            width: 0;
            height: 0;
            border-bottom: solid 5px #ffffff;
            border-left: solid 5px transparent;
            border-right: solid 5px transparent;
        }
    }
}
