#loading {
    background: #222;
    position: absolute;
    top:0;
    left:0;
    z-index: 2015;
    height: 100%;
    width: 100%;
    text-align: middle;
    vertical-align: middle;
    span {
        color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right:0;
        margin: auto;
        width:50%;
        height:50%;
    }
}
