.rangeslider,
.rangeslider__fill {
  background: #f4f3f3;
  display: block;
  height: 2px;
  width: 100%;
  top: 12px;
  cursor: pointer;
  margin-bottom: 32px;
}

.rangeslider {
  position: relative;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: $green;
  position: absolute;
  top: 0;
  height: 2px;
}

.rangeslider__handle {
  background: $green;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -12px;
  border-radius: 50%;
}
.rangeslider__handle:active {
    background: $green;
}
