.information {
    #search {
        color: white;
        z-index: 2;
        background: #222222;
        display: none;
        padding: 40px 80px;
        box-sizing: border-box;
        position: fixed;
        top: 80px;
        bottom: 0;
        right: 0;
        width: 50%;
        overflow-y: auto;
        .category {
            font-size: 14px;
        }
        input[type="text"] {
            margin-top: 20px;
            font-size: 28px;
            display: block;
            border: none;
            outline: none;
            background: none;
            color: white;
            width: 100%;
            padding: 0;
        }
        #search-results {
            padding-top: 0px;
            padding-bottom: 20px;
            margin-top: 40px;
            //border-top: 1px solid #333;
            //border-bottom: 1px solid #333;
            ul {
                a {
                    color: white;
                    display: block;
                    &:hover {
                        color: white;
                    }
                }
                li {
                    clear: both;
                    display: inline-block;
                    width: 100%;
                    padding: 30px 0 30px 0;
                    @include transition(0.1s);
                    box-sizing: border-box;
                    font-weight: 400;
                    border-top: 1px solid #3a3a3a;
                    .thumbnail {
                        float: left;
                        margin-right: 30px;
                        box-shadow: 2px 2px 5px #222222;
                    }
                    .tag {
                        margin-top: 15px;
                        margin-right: 5px;
                        &:hover {
                            border-color: #646464;
                            color: #646464;
                        }
                    }

                    &:hover {
                        background: #252525;
                            padding-left: 20px;
                            @include transition(0.1s);
                    }
                }
                .create-it {
                    padding-top: 30px;
                    border-top: 1px solid #3a3a3a;
                    a {
                        color: $blue;
                        display: inline;
                        transition: none;
                        &:hover {
                            border-bottom: 1px solid $blue;
                        }
                    }
                }
            }
        }
    }
}
