#search {
    color: white;

    z-index: 2;
    background: #222222;

    display: none;
    padding: 40px 80px;
    box-sizing: border-box;

    position: fixed;
    top: 80px;
    bottom: 0;
    right: 0;
    width: 50%;
    .category {
        font-size: 14px;
    }
    #search-input {
        margin-top: 20px;
        font-size: 28px;
        display: block;
        border: none;
        outline: none;
        background: none;
        color: white;
        width: 100%;
        padding: 0;
    }
    #search-results {
        padding-top: 40px;
        margin-top: 40px;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        display: block;
        ul {
            //overflow: auto;
            li {
                overflow: auto;
                margin-bottom: 40px;
                .thumbnail {
                    float: left;
                    margin-right: 30px;
                }
            }
            span {
                display: block;
                margin-bottom: 40px;
            }
        }
    }
}
