.tag, a.tag {
    font-size: 13px;
    border: 1px solid #646464;
    color: #646464;
    border-radius: 3px;
    padding: 8px 10px;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    &:hover {
        color: #d2d2d2;
        border-color: #d2d2d2;
    }
    &.right {
        margin-right: 0;
        float: right;
    }
}
