/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, input, textarea, button {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #2b2b2b; }

h1 {
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px; }

h2 {
  font-size: 50px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 30px; }

h6 {
  color: #d2d2d2;
  font-size: 16px;
  margin-bottom: 30px; }

p {
  font-size: 16px;
  line-height: 24px; }

strong {
  font-weight: 900;
  color: white; }

a, a:link, a:visited {
  color: #24d9f7;
  font-weight: 700;
  text-decoration: none; }
  a:hover, a:link:hover, a:visited:hover {
    text-decoration: underline; }

nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  nav .logo {
    padding: 30px 80px 25px;
    height: 23px; }

.mini-nav a, .mini-nav a:link, .mini-nav a:visited {
  color: white; }

html, body {
  height: 100%; }

section.cover, section.information {
  width: 50%;
  height: 100%; }

section.cover {
  float: left;
  background: #000000 url("/images/cover-bg.jpg") center -150px no-repeat;
  background-size: cover;
  color: #ffffff; }
  section.cover .gradient {
    height: 100%;
    background: url("/images/cover-gradient.png") bottom repeat-x; }
  section.cover .details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 80px 80px 80px;
    color: #d2d2d2; }
    section.cover .details .score {
      float: right;
      font-weight: 300;
      font-size: 32px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 8px;
      line-height: 50px;
      margin-top: 10px;
      border: 2px solid #54d0bf;
      color: white;
      text-align: center; }
    section.cover .details span {
      margin-right: 10px; }
    section.cover .details .tag {
      font-size: 16px;
      border: 1px solid #ffffff;
      color: #ffffff;
      border-radius: 5px;
      padding: 5px 8px;
      text-transform: uppercase;
      display: inline-block; }
    section.cover .details .stats {
      border-top: #333 1px solid;
      margin-top: 30px;
      padding-top: 30px; }
      section.cover .details .stats .tag {
        color: #d2d2d2;
        border-color: #d2d2d2; }
    section.cover .details .tempgraph {
      vertical-align: bottom;
      padding-bottom: 2px; }

section.information {
  float: right; }
  section.information .content {
    overflow: scroll;
    height: 100%; }
  section.information .mini-nav {
    width: 50%;
    height: 80px;
    color: #ffffff;
    background: #2d2c2c;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700; }
    section.information .mini-nav .user-info {
      display: inline-block;
      padding: 30px 0 30px 80px; }
      section.information .mini-nav .user-info .avatar {
        vertical-align: text-top;
        display: inline-block;
        margin-right: 10px; }
      section.information .mini-nav .user-info .level {
        background: #24d9f7;
        border-radius: 5px;
        padding: 2px 6px;
        margin-left: 5px;
        /* CIRCLE
                    padding: 3px 9px;
                    text-align: center;
                    color: white;
                    border-radius: 50%;
                    behavior: url(PIE.htc); /* remove if you don't care about IE8 */ }
      section.information .mini-nav .user-info .points {
        margin-left: 35px;
        color: #54d0bf; }
    section.information .mini-nav .search {
      background: #222222;
      float: right;
      padding: 30px 80px;
      cursor: pointer; }
      section.information .mini-nav .search:hover {
        background: #363636; }
      section.information .mini-nav .search:after {
        font-family: "FontAwesome";
        content: "\f002";
        margin-left: 15px; }
  section.information .user-review {
    padding: 130px 80px 20px 80px;
    border-bottom: 1px solid #f0f0f0; }
    section.information .user-review .sort {
      margin-top: 30px;
      text-transform: uppercase; }
      section.information .user-review .sort li {
        display: inline-block;
        margin-right: 20px;
        font-weight: 600; }
        section.information .user-review .sort li a {
          color: #8a8a8a; }
          section.information .user-review .sort li a.current {
            color: #24d9f7; }
    section.information .user-review input[type="text"] {
      font-family: "Merriweather", serif;
      font-size: 18px;
      padding: 15px;
      width: 100%;
      box-sizing: border-box;
      border: 3px solid #f6f6f6;
      border-radius: 5px; }
      section.information .user-review input[type="text"]:focus {
        outline: none; }
    section.information .user-review textarea {
      font-family: "Merriweather", serif;
      font-size: 18px;
      padding: 15px;
      width: 100%;
      box-sizing: border-box;
      border: 3px solid #f6f6f6;
      border-radius: 5px;
      resize: vertical;
      height: 58px;
      overflow: hidden; }
      section.information .user-review textarea:focus {
        outline: none; }
  section.information .feed {
    background: #f7f7f7;
    padding: 10px; }
    section.information .feed .review {
      background: #ffffff;
      color: #2b2b2b;
      font-family: "Merriweather", serif;
      font-size: 16px;
      line-height: 24px;
      padding: 35px 35px 25px 35px;
      margin-bottom: 15px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03); }
      section.information .feed .review .details {
        color: #999;
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
        font-size: 13px;
        margin-top: 10px;
        width: 100%;
        text-align: right; }
        section.information .feed .review .details .fa {
          margin: 0 3px 0 10px; }
